{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
    Logged in as {{ user.username }}. <a href="{% url 'auth_logout' %}">Logout</a>.
    {% else %}

    <form method="post">
        {{ form }}
        {% csrf_token %}
        <input type="submit">
    </form>
<ul>
    <li><a href="{% url 'auth_password_reset' %}">Reset password?</a></li>
    <li><a href="{% url 'registration_register' %}">Registration</a></li>
</ul>
{% endif %}
{% endblock %}